.available-jobs-row {
  margin-bottom: 20px;
  height: 100%;
  box-sizing: border-box;
  /* border: 2px solid #1f2b7b; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Muli", sans-serif;
  /* margin-right: -15px; */
  background-color: #f0f3ff;
  border-radius: 10px;
}
.available-jobs-row b {
  color: #1f2b7b;
  font-weight: bolder;
}
.available-jobs-job-post {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  /* margin-bottom: 20px; */
  padding: 20px;
  font-weight: bolder;

  /* color: #1f2b7b; */

  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}
.available-jobs-job-info {
  padding: 16px;

  flex: 1;
}
.available-jobs-job-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: "Muli", sans-serif;
}
.findjob-job-details {
}
.findjob-job-description {
}
.available-jobs-btn-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
.available-jobs-btn-container button {
  background-color: #050c9c;
  border-color: #050c9c;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 22px;
  color: white;
  line-height: 1.4;
}
